<template name="dashboard">
    {{reactiveData}}
    {{waterGoalChecker}}
    <!-- <button class="setupLaunch">Launch</button>
    <button class="testBut">Set</button>
    <input type="text" class="inputSensor" name="text" placeholder="Insert Sensor Data" />
    <input type="text" class="flowRate1" name="text" placeholder="L/min flow rate" />
    <input type="text" class="flowRate2" name="text" placeholder="L/hour flow rate" /> -->
    <div class="col-sm-10 col-md-10">
        <div class="row animated fadeIn">
            <div class="col-sm-12 col-md-12 content">
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="/dashboard"><b>Overview</b></a></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                               {{> cityForecast}} 
                            </div>
                            <div class="col-lg-9 col-sm-12">
                                {{> waterConsumption}}
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--  Weather Forecast -->

            <div class="col-sm-3 col-md-3 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="visible-lg visible-xs">
                            <b>Total Consumption</b>
                            <span style="margin-top:2px" class="label label-info pull-right">Annual</span>
                        </div>
                        <div class="text-center visible-md visible-sm">
                            <span class="label label-info">Annual</span>
                            <br>
                            <b>Total Consumption</b>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <p class="text-display">{{totalYear}} Litres</p>
                    </div> 
                </div>
            </div><!-- Total Water Consumption -->
            <div class="col-sm-3 col-md-3 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="visible-lg visible-xs">
                            <b>Today Usage</b>
                            <span style="margin-top:2px" class="label label-warning pull-right">Daily</span>
                        </div>
                        <div class="text-center visible-md visible-sm">
                            <span class="label label-warning">Daily</span>
                            <br>
                            <b>Today Usage</b>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <p class="text-display">{{todayUsage}} Litres</p>
                    </div>
                </div>
            </div><!-- Total Water Consumption -->
            <div class="col-sm-3 col-md-3 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="visible-lg visible-xs">
                            <b>Average Flow Rate</b>
                            <span style="margin-top:2px" class="label label-info pull-right">Average</span>
                        </div>
                        <div class="text-center visible-md visible-sm">
                            <span class="label label-info">Average</span>
                            <br>
                            <b>Average Flow Rate</b>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <p class="text-display">{{totalAvgRate}} L/min</p>
                    </div> 
                </div>
            </div><!-- Total Water Consumption -->
            <div class="col-sm-3 col-md-3 content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="visible-lg visible-xs">
                            <b>Current Flow Rate</b>
                            <span style="margin-top:2px" class="label label-warning pull-right">Current</span>
                        </div>
                        <div class="text-center visible-md visible-sm">
                            <span class="label label-warning">Current</span>
                            <br>
                            <b>Current Flow Rate</b>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <p class="text-display">{{currentRate}} L/min</p>
                    </div> 
                </div>
            </div><!-- Total Water Consumption -->
            
           <div class="col-sm-12 col-md-12 content">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Forecast &amp; Current Water Goal</b></div>
                    <div class="panel-body">
                        <div class="col-lg-9 col-sm-12">
                            {{> waterForecast}} 
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            {{> waterGoal}}
                        </div>
                        
                        
                    </div> 
                </div>
            </div><!-- Total Water Consumption -->

        </div>
    </div>
</template>

<template name="cityForecast">
    <div class="animated fadeInLeft">
        <h2>{{ forecastData.city }}, {{ forecastData.country }}</h2>
        <h2><i class="wi {{weatherIcon}}"></i> {{ forecastData.temperature }}&deg;C</h2>
        <h3>{{ forecastData.weather }}</h3>
        <p>Latest update: <small style="font-style: italic;"><i class="fa fa-clock-o"></i> {{formatTimeandDate weatherstationTime}}</small></p>
    </div>
</template>

<template name="waterConsumption">
    <h3>Water Consumption Pattern last 48-hours</h3>
    <div class="flot-chart" style="margin-top: -20px; margin-left: -20px;">
        <div id="flot-line-chart-moving" style="height:170px"></div>
    </div>
    <p style="margin-top: -10px;"><small id="flot-data">*Water Consumption Unit in Litres.</small></p>
</template>

<template name="waterForecast">
    <h3 style="margin-top: 20px">Consumption Forecast for next 24-hours</h3>
    <button class="refreshForecast" type="button">Refresh Forecast Data</button>
    <div>
        <canvas id="lineChart" width="auto" height="80%"></canvas>
    </div>
    <p style="margin-top: 10px;">
        <small id="flot-data">*Water Consumption Unit in Litres</small>
        <br>
        <i>
            <small id="flot-data">*Water Consumption Forecast is still under testing. It is developed using 
                <a href="https://azure.microsoft.com/en-us/documentation/articles/machine-learning-r-csharp-arima/" target="_blank">ARIMA</a> published by Azure Machine Learning.</small>
        </i>
    </p>
</template>

<template name="waterGoal">
    <div class="animated fadeInLeft">
        <h2><i class="fa fa-tint"></i> Current Goal</h2>
        <h5 style="margin-left:30px"><b>{{annualGoal}}</b> Litres per year</h5>
        <h5 style="margin-left:30px"><b>{{monthlyGoal}}</b> Litres per month</h5>
        <h5 style="margin-left:30px"><b>{{dailyGoal}}</b> Litres per day</h5>
    </div>
    <div style="margin-left:-20px">
        <canvas id="doughnutChart" height="150"></canvas>
        <h6 class="text-center">Goal for Today: {{date}}</h6>
    </div>
</template>