<template name="notFound">
	<div class="col-sm-10 col-md-10">
        <div class="row animated fadeIn">
            <div class="col-sm-12 col-md-12 content">
                <div class="panel panel-default">
                    <div class="panel-heading"><a href="/dashboard"><b>Page Not Found</b></a></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12 text-center">
				                <h2>404 Not Found</h2>
				                <h1>Sorry, the page you request is not found.</h1>
				                <div class="error-details">
				                    Please click below button to get you home.
				                </div>
				                <br>
				                <div class="error-actions">
				                    <a href="/dashboard" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span> Take Me Home</a>
				                </div>
			                </div>
		                </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</template>